<main>
    <div>
        
        <span *ngFor="let ticket of tickets" class="spanb" style="width: 18rem">
            <!--<img src="..." class="card-img-top" alt="..." /> -->
            <div class="card-body">
                <h5 class="card-title">
                    Category:
                    <text style="text-transform: uppercase">
                        {{ ticket?.category }}
                    </text>
                </h5>
                <p>
                    {{ ticket?.timeCreated }}
                </p>
                <p class="card-text, notecontainer">
                    {{ ticket?.note }}
                </p>
                <div>
                    <button (click)="deleteTicket(ticket.id)" class="btn btn-warning custombutton" data-toggle="modal"
                        data-target="#exampleModal"> Delete</button>
                    <button (click)="updateToArchiveTicket(ticket.id)" class="btn btn-primary custombutton"
                        data-toggle="modal" data-target="#exampleModal"> Mark Done</button>
                    <button (click)="updateTicketModal(ticket.id)" class="btn btn-info custombutton" data-toggle="modal"
                        data-target="#exampleModal"> Edit</button>

                </div>
            </div>
        </span>
    </div>
</main>