<!-- Modal -->
<form (ngSubmit)="onSubmit()">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category: </label>
                        <select class="form-control" id="category" name="category" [(ngModel)]="ticket.category">
                            <option value="home">HOME</option>
                            <option value="work">WORK</option>
                            <option value="other">OTHER</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label> Note</label>
                        <input type="text" class="form-control" id="note" [(ngModel)]="ticket.note" name="note">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeButton">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="createLabel">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>