<body>
  <!-- Navigation -->
  <header>
    <app-navigation></app-navigation>
  </header>
  <!-- Show all Tickets -->
  <main>
    <div>
      <router-outlet></router-outlet>
      
    </div>
  </main>

  <footer></footer>
</body>