<!-- Modal -->
<form (ngSubmit)="onSubmit()">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm to delete note:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control-custom-bordernone" id="note" [(ngModel)]="ticket.note" name="note">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        id="closeButton">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                    <!--SAME BUTTON FUNCTIONALITY AS ABOVE: <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()">Update</button> -->
                </div>
            </div>
        </div>
    </div>
</form>