<main>
    <div>

        <span *ngFor="let ticket of tickets" class="spanb-archived" style="width: 18rem">
            <!--<img src="..." class="card-img-top" alt="..." /> -->
            <div class="card-body">
                <h5 class="card-title">
                    Category:
                    <text style="text-transform: uppercase">
                        {{ ticket?.category }}
                    </text>
                </h5>
                <p>
                    {{ ticket?.timeCreated }}
                </p>
                <p class="card-text, notecontainer">
                    {{ ticket?.note }}
                </p>
                <div>

                </div>
            </div>
        </span>
    </div>
</main>