<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">ToDo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <!-- <a routerLink="save-new-ticket" routerLinkActive="active" class="nav-link">New Ticket</a>-->
            <a routerLink="save-new-ticket-modal" routerLinkActive="active" class="nav-link" data-toggle="modal"
                data-target="#exampleModal">New Ticket</a>
            <a class="nav-link" href="archived-tickets/">Closed Tickets</a>
            <a role="presentation" class="nav-link" href="info-page/">Info</a>

            <!--MODAL TESTING-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                Launch demo modal
            </button>
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--MODAL TESTING-->
        </div>
    </div>
</nav>