.inline {
  display: inline-block;
}

.spanb {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
  border-radius: 7%;
  
}

.spanb-archived {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
  border-radius: 7%;
  background: lightgrey;
}
.notecontainer {
  height: 80px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.custombutton {
  margin: 1px;
  width: 110px;
}

.form-control-custom-bordernone {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info-page-background{
  margin: auto;
  width: auto;
  height: 2000px;
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.info-page-text{
  padding-top: 200px;
}
