<div class="col-md-6 offset-md-3">
    <h3> Update Ticket</h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="ticket.category" name="category">
        </div>
        <div class="form-group">
            <label> Note</label>
            <input type="text" class="form-control" id="note" [(ngModel)]="ticket.note" name="note">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>